<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="e_q8t1FWOPCz2xjguSpoeTIerL1BbIbUvgXv14-AR5A" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="dev-imagine desarrollo web a medida">
    <meta name="author" content="Imagine">
    <meta name="keywords" content="dev, imagine, dev-imagine, desarrollo web, desarrollo, web villa maria">
    <title>Imagine</title>

    <!-- Bootstrap CSS -->
    @*<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Custom styles -->
    <link href="~/Content/css/freelancer.min.css" rel="stylesheet">
</head>

<body id="page-top">

    @RenderBody()


</body>

</html>
